/* 
---------------------------------------------------------------------------------------------
Estilos de accesibilidad para la organizacion CIFUNHI
Elaborados por: Brayan Adair & Alexis Arturo
---------------------------------------------------------------------------------------------
*/
/* Estilos del boton accesibilidad, boton flotante mas background y hover mas mediaquery */
.btn-Accesibilidad{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:40px;
    right:48%;
    background:#34435A;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-Accesibilidad:hover{
    background: #7298d1;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-Accesibilidad{
        width:63px;
        height:63px;
        line-height: 66px;
        right:43%;
	}
}
/*--------------------------------------------------------------------------------------------- 
Estilos para el Menu Modal
-----------------------------------------------------------------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 10;
    top: 10;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Animacion*/
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Boton Cerrar*/
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #34435A;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
 
  /* ------------------------------------------------------------------------------------------
  estilos para accesibilidad
  ------------------------------------------------------------------------------------------- */
  body {
    overflow: auto;
  }
  
  .size-1 {
    font-size: 2rem;
  }
  
  .size-2 {
    font-size: 2.5rem;
  }
  
  .size-3 {
    font-size: 1rem;
  }
  
  h1 {
    font-size: 3.125rem;
  }
  
  h2 {
    font-size: 2.75rem;
  }
  
  h3 {
    font-size: 2.215rem;
  }
  
  h4 {
    font-size: 1.915rem;
  }
  
  h5 {
    font-size: 1.85rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }
  
  a {
    font-size: 2rem;
  }
  
  .not-resize {
    font-size: 1rem;
  }
  
  .main {
    background-color: #fff;
  }
  .main.high-contrast {
    filter: invert(100%);
  }
  
  .cursor {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
  }
  .cursor .hl {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: black;
  }
  .cursor.activo {
    opacity: 1;
  }
  
  .highlight {
    outline: 3px dashed rgba(255, 229, 11, 0.5);
    background-color: rgba(255, 229, 11, 0.25);
  }
  
  .main.new-cursor {
    cursor: url("https://cdn-icons-png.flaticon.com/128/8164/8164964.png"), auto;
  }
  .main.new-cursor a:hover {
    cursor: url("https://cdn-icons-png.flaticon.com/128/1437/1437734.png"), auto;
  }